{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block javascript %}
    <script src="/js/admin.js" defer></script>
{% endblock %}

{% block body %}
    <main class="visible">
        <section>
            <h2>Administration</h2>
            <div class="admin-container">
                <ul>
                    <li class="active" data-tab="posts">Articles</li>
                    <li data-tab="comments">Commentaires</li>
                    <li data-tab="users">Utilisateurs</li>
                </ul>
                <article class="posts-list visible">
                    <table>
                        <tr>
                            <th></th>
                            <th>Titre</th>
                            <th>Accroche</th>
                            <th>Catégorie</th>
                            <th>Auteur</th>
                            <th>Commentaires</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        {% for post in posts %}
                            <tr>
                                <th><img src="/uploads/{{ post.image }}" alt="{{ post.title }}" class="p5"></th>
                                <th><a href="/post/show/{{ post.slug }}">{{ post.title }}</a></th>
                                <th>{{ post.hook }}</th>
                                <th>{{ post.category_name }}</th>
                                <th><a href="/user/show/{{ post.user_id }}">{{ post.firstname }} {{ post.lastname }}</a></th>
                                <th>{{ post.comments }}</th>
                                <th>{{ post.formated_created_at }}</th>
                                <th><a href="/post/edit/{{ post.slug }}"><span class="fa-solid fa-pen-to-square"></span></a><span class="fa-solid fa-trash-can m5" data-slug={{ post.slug }} data-target="post"></span></th>
                            </tr>
                        {% endfor %}
                    </table>
                </article>
                <article class="comments-list">
                    <table>
                        <tr>
                            <th></th>
                            <th>Article</th>
                            <th>Commentaire</th>
                            <th>Auteur</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        {% for comment in comments %}
                            <tr>
                                <th><img src="/uploads/{{ comment.avatar }}" alt="{{ comment.firtname }} {{ comment.lastname }}"></th>
                                <th><a href="/post/show/{{ comment.slug }}#comments">{{ comment.title }}</a></th>
                                <th>{{ comment.comment }}</th>
                                <th><a href="/user/show/{{ comment.user_id }}">{{ comment.firstname }} {{ comment.lastname }}</a></th>
                                <th>{{ comment.formated_created_at }}</th>
                                <th><span class="fa-solid fa-trash-can" data-id={{ comment.id }} data-target="comment"></span></th>
                            </tr>
                        {% endfor %}
                    </table>
                </article>
                <article class="users-list">
                    <table>
                        <tr>
                            <th></th>
                            <th>Prénom & Nom</th>
                            <th>Accroche</th>
                            <th>Email</th>
                            <th>Articles</th>
                            <th>Commentaires</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <th><img src="/uploads/{{ user.avatar }}" alt="{{ user.firtname }} {{ user.lastname }}"></th>
                                <th><a href="/user/show/{{ user.id }}">{{ user.firstname }} {{ user.lastname }}</a></th>
                                <th>{{ user.hook }}</th>
                                <th>{{ user.email }}</th>
                                <th>{{ user.articles }}</th>
                                <th>{{ user.comments }}</th>
                                <th>{{ user.roles }}</th>
                                <th><a href="/user/edit/{{ user.id }}"><span class="fa-solid fa-pen-to-square"></span></a><span class="fa-solid fa-trash-can m5" data-id={{ user.id }} data-target="user"></span></th>
                            </tr>
                        {% endfor %}
                    </table>
                </article>
            </div>
        </section>
        <aside class="modale">
            <div class="modale-container">
                <p>Souhaitez-vous confirmer la suppression ?</p>
                <div>
                    <a href="">Oui</a><p class="abord">Annuler</p>
                </div>
            </div>
        </aside>
    </main>
{% endblock %}