{% extends "base.html.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block javascript %}
    <script src="/js/ajax/comment.js" defer></script>
{% endblock %}

{% block body %}
    <main class="visible">
        <section>
            <h2>{{ post.title }}</h2>
            <div class="show-container">
                <div class="head">
                    <div class="head-left"><p>Catégorie : 
                        {% if post.category == '1' %}
                            Forêt</p>
                        {% elseif post.category == '2' %}
                            Montagne</p>
                        {% elseif post.category == '3' %}
                            Lac</p>
                        {% elseif post.category == '4' %}
                            Océan</p>
                        {% endif %}
                    </div>
                    <div class="head-right">
                        <p>Article publié le {{ post.formated_created_at }}
                        {% if post.formated_created_at != post.formated_updated_at %}
                            - modifié le {{ post.formated_updated_at }}
                        {% endif %}
                        </p>
                        {% if user.id == currentUser or userRole == 'ROLE_ADMIN' %}
                            <p><a href="/post/edit/{{ post.slug }}">Editer cet article</a> - <span class="delete-post">Supprimer cet article</span></p>
                        {% endif %}
                    </div>
                </div>
                
                <img src="/uploads/{{ post.image }}" alt="{{ post.title }}" class="main-img">
                <div class="content">
                    
                    <div class="author-info">
                        <h4>A propos de l'auteur :</h4>
                        <img src="/uploads/{{ author.avatar }}" alt="">
                        <p>{{ author.firstname }} {{ user.lastname }}</p>
                        <p>{{ author.hook }}</p>
                        <div>
                            <p>Messages : {{ userPosts }}</p>
                            <p>Commentaires : <span>{{ userComments }}</span></p>
                        </div>
                    </div>
                    <div class="post-info">
                        <p>{{ post.hook }}</p>
                        {{ post.content|raw }}
                    </div>
                </div>
            </div>
            <article class="activities">
                <h3>Activités proposées</h3>
                <div>
                    <img src="/img/camping.png" alt="">
                    <h4>Camping en plein air</h4>
                    <p>Tout le temps</p>
                    <p>Pour ceux qui aiment dormir à la belle étoile.</p>
                </div>
                <div>
                    <img src="/img/boat.jpg" alt="">
                    <h4>Activités nautiques</h4>
                    <p>Journée</p>
                    <p>Bateau, ski nautique, paddle ou simple baignade.</p>
                </div>
                <div>
                    <img src="/img/ski.jpg" alt="">
                    <h4>Sports de glisse</h4>
                    <p>Journée</p>
                    <p>Ski ou luge, pour les petits et les grands.</p>
                </div>
                <div>
                    <img src="/img/fire.jpg" alt="">
                    <h4>Feux de camp</h4>
                    <p>Soirée</p>
                    <p>Venez vous réchauffer au coin du feu.</p>
                </div>
            </article>
            <aside class="comments">
                <h3>Commentaires (<span>{{ comments|length }}</span>)</h3>
                <div class="comments-container">
                    <div class="comments-list">
                        {% for comment in comments %}
                            <p>
                                <img src="/uploads/{{ comment.avatar }}" alt=""><span>{{ comment.firstname }} {{ comment.lastname }}</span> le <span>{{ comment.formated_created_at }}</span> : <span>{{ comment.comment }}</span>
                                {% if userRole == 'ROLE_ADMIN' %}
                                    <span class="delete-btn" data-comment-id="{{ comment.id }}">X</span>
                                {% endif %}
                            </p>
                        {% endfor %}
                    <template class="comments-template">
                        <p>
                            <img src="" alt=""><span></span> le <span></span> : <span></span>
                            {% if userRole == 'ROLE_ADMIN' %}
                                <span class="delete-btn" data-comment-id="">X</span>
                            {% endif %}
                        </p>
                    </template>
                    </div>
                        {% if currentUser != '' %}
                            <div class="comments-form">
                                {{ commentForm|raw }}
                            </div>
                        {% else %}
                            <p class="comments-error">Vous devez être identifié pour poster un commentaire.</p>
                        {% endif %}
                </div>
            </aside>
        </section>
        <aside class="modale">
            <div class="modale-container">
                <p>Voulez-vous vraiment supprimer cet article ?</p>
                <div>
                    <a href="/post/delete/{{ post.slug }}">Oui</a><p class="abord">Annuler</p>
                </div>
            </div>
        </aside>
    </main>
{% endblock %}